<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curo | Your Medical Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="chatbot-popup">
        <div class="chat-header">
            <div class="header-info">
                <img class="chatbot-logo" src="{{ url_for('static', filename='assets/chatbot-logo.png') }}" alt="logo"/>
                <h2 class="logo-text">Cura</h2>
            </div>
            <button 
                id="close-chatbot"
                class="material-symbols-rounded"
            >
                keyboard_arrow_down
            </button>
        </div>
        <div class="chat-body">
            <div class="message bot-message">
                <img class="chatbot-avatar" src="{{ url_for('static', filename='assets/chatbot-logo.png') }}" alt="logo"/>
                <div class="message-text">Hi there 👋 <br /> How can I help you today?</div>
            </div>
            <div class="message user-message">
                <div class="message-text">Lorem ipsum dolor sit am consec tetur.</div>
            </div>
            <div class="message bot-message thinking">
                <img class="chatbot-avatar" src="{{ url_for('static', filename='assets/chatbot-logo.png') }}" alt="logo"/>
                <div class="message-text">
                    <div class="thinking-indicator">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-footer">
            <form action="#" class="chat-form">
                <textarea placeholder="What do you have in mind today?" class="message-input" required></textarea>
                <div class="chat-controls">
                    <button type="submit" class="material-symbols-rounded" id="send_message">arrow_upward</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>